div.topic_page, a {
    color: #620091;
    text-decoration: underline;
}

a:hover {
  color: white;
}

div.app_nav, div#page, .comment_title, tr.mouse_over {
    background-color: #faecff;
}

div#local, div#main, .blog_main, .pagination a:hover, .pagination a:active {
    background-color: white;
    border-color: #620091;
}

div.nav, div#app_list div.decorate, a:hover, div#branding, input.button, input.submit, td.buttons a, .pagination span.current {
    background-color: #620091;
}

.blog_bottom li {
    border-right-color: #620091;
    color: #620091;
}

table.admin thead, .pagination a, .pagination a:visited {
    color: #620091;
}

div.app_nav, .pagination span.current {
    border-color: #620091;
}

.blog_comment, div.picture_full {
    border-top-color: #620091;
}


/*new*/
.white{ color:#FFF !important;}

#blog_navbar{
background-color: #620091;
}

.blog_navbar_for{
	color: #620091;
    background-color:#faecff;
	
}
#blog_navbar .blog_navbar_for a:visited{color: #620091 ; background-color:#faecff;}
#blog_navbar .blog_navbar_for a:link{color: #620091 ; background-color:#faecff;}
.blog_main_title{color: #000;}

.about_bar{ background:#CCCCCC;color:#620091 ;}

.view a:hover{color:#620091;}
.list_current{}
.list_current a{ color:#FF6600; font-weight:bold;}
.list_current a:hover{ color:#FFFFFF; background:#FF6600;}
#my_resume .editing a.del:hover,
#my_resume .editing a.add:hover{color: #620091;}
