/* 
Creating a CSS3 Responsive Menu 
Author: Shingo Tamura
URL: http://www.shingokko.com
*/

@font-face {
    font-family: 'LondrinaSolidRegular';
    src: url('font/londrina/LondrinaSolid-Regular-webfont.eot');
    src: url('font/londrina/LondrinaSolid-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/londrina/LondrinaSolid-Regular-webfont.woff') format('woff'),
         url('font/londrina/LondrinaSolid-Regular-webfont.ttf') format('truetype'),
         url('font/londrina/LondrinaSolid-Regular-webfont.svg#LondrinaSolidRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    /* line-height: 18px = 16/18 = 1.125em */
    font: 100%/1.125em 'LondrinaSolidRegular', cursive;
    background-color: #4D8EBC;
    color: #c2daeb;
}
#banner-wrapper {
    background-color: #397aa8;
    padding: 1px 0;
}
#banner-inner-wrapper {
    display: table;
    width: 96%;
    margin: 0.375em auto; /* 6/16 = 0.375em; */
}
#banner-inner {
    display: table-row;
}
#title {
    display: table-cell;
}
#logo {
    max-width: 100%;
    vertical-align: middle;
}
#menu-nav {
    display: table-cell;
    vertical-align: bottom;
    text-align: right;
}
#menu-button {
    vertical-align: bottom;
    float: right;
    
    padding: .375em; /* 6/16 = 0.375em */
    margin: 0 .375em 0 2em;
    
    opacity: .7;
    cursor: pointer;
    
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    
    background-color: #4D8EBC;
    background-image: -moz-linear-gradient(top,rgba(100, 152, 190, .5),rgba(30, 82, 120, .5));
    background-image: -webkit-linear-gradient(top,rgba(100, 152, 190, .5),rgba(30, 82, 120, .5));
    background-image: linear-gradient(top,rgba(100, 152, 190, .5),rgba(30, 82, 120, .5));
    background-image: -ms-linear-gradient(top,rgba(100, 152, 190, .5),rgba(30, 82, 120, .5));
    background-image: -o-linear-gradient(top,rgba(100, 152, 190, .5),rgba(30, 82, 120, .5));
    background-position: left bottom;
    background-repeat: repeat-x;
}
#menu-button.selected,
#menu-button:active {
    opacity: 1;
    
    -moz-box-shadow: 0 1px 1px rgba(120, 120, 120, .2);
    -webkit-box-shadow: 0 1px 1px rgba(120, 120, 120, .2);
    -ms-box-shadow: 0 1px 1px rgba(120, 120, 120, .2);
    -o-box-shadow: 0 1px 1px rgba(120, 120, 120, .2);
    box-shadow: 0 1px  1px rgba(120, 120, 120, .2);
    
    background-color: #2E6288;
    background-image: -moz-linear-gradient(top,rgba(25, 68, 99, .5),rgba(30, 82, 120, .5));
    background-image: -webkit-linear-gradient(top,rgba(25, 68, 99, .5),rgba(30, 82, 120, .5));
    background-image: linear-gradient(top,rgba(25, 68, 99, .5),rgba(30, 82, 120, .5));
    background-image: -ms-linear-gradient(top,rgba(25, 68, 99, .5),rgba(30, 82, 120, .5));
    background-image: -o-linear-gradient(top,rgba(25, 68, 99, .5),rgba(30, 82, 120, .5));
    
    margin-bottom: -.375em; /* 6/16 = .375em */
}
#menu-button-inner {
   /*background: transparent url(../image/menu-bg.png) no-repeat 0 0;*/
    width: 78px;
    height: 41px;
    text-align: center;
}
#menu-drink {
    clear: both;
    display: none;
    position: absolute;
    width: 100%;
    background-color: #2e6288;
    
    -moz-box-shadow: 0 2px 2px rgba(25, 68, 99, .4);
    -webkit-box-shadow: 0 2px 2px rgba(25, 68, 99, .4);
    -ms-box-shadow: 0 2px 2px rgba(25, 68, 99, .4);
    -o-box-shadow: 0 2px 2px rgba(25, 68, 99, .4);
    box-shadow: 0 2px 2px rgba(25, 68, 99, .4);
}

#menu-drink ul {
    overflow: hidden;
}
#menu-drink li {
    float: left;
    width: 50%;
}

#menu-drink a {
    color: #c2daeb;
    white-space: nowrap;
    text-decoration: none;
    display: block;
    
    -moz-transition: color 0.3s linear, background-color 0.3s linear;
    -o-transition: color 0.3s linear, background-color 0.3s linear;
    -webkit-transition: color 0.3s linear, background-color 0.3s linear;
    -ms-transition: color 0.3s linear, background-color 0.3s linear;
    transition: color 0.3s linear, background-color 0.3s linear;
    
    -moz-box-shadow: inset 0 0 2px #0A3E64;
    -o-box-shadow: inset 0 0 2px #0A3E64;
    -webkit-box-shadow: inset 0 0 2px #0A3E64;
    -ms-box-shadow: inset 0 0 2px #0A3E64;
    box-shadow: inset 0 0 2px #0A3E64;
    
    line-height: 2.875em; /* 46/16 = 3.375em */
    height: 2.875em; /* 46/16 = 3.375em */
    padding: .375em; /* 6/16 = .375em */
}
#menu-drink a:hover,
#menu-drink a:active {
    color: #fff;
    background-color: #23577D;
}
#menu-drink .icon {
    background: transparent url(../image/drink-flat.png) no-repeat 0 0;
    
    display: inline-block;
    vertical-align: bottom;
    opacity: .6;
    width: 2em; /* 32/16 = 2em */
    height: 2.875em; /* 46/16 = 2.875em */
    margin-right: .5em; /* 8/16 = 0.5em */
    
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}
#menu-drink a:hover .icon {
    opacity: 1;
}

#menu-drink .wine .icon {
    background-position: 0 0;
}

#menu-drink .beer .icon {
    background-position: -2em 0; /* 32/16 = 2em */
}

#menu-drink .coffee-tea .icon {
    background-position: -4em 0; /* 64/16 = 4em */
}

#menu-drink .soft-drink .icon {
    background-position: -6em 0; /* 96/16 = 6em */
}
#content {
    padding: .375em; /* 6/16 = .375em */
    margin: 0 auto;
}
#content p {
    margin:  1em 0; /* 16/16 = 1em */
}
#contentinfo {
    text-align: center;
    padding: 1em; /* 16/16 = 1em */
    margin: 0 auto;
}

/*-  MEDIA QUERIES
 ----------------------------------------------------------------------*/
/* Disable ios/winmob font size changes */
@media screen and (max-width: 600px), screen and (max-device-width: 480px) {
    html {
        -ms-text-size-adjust: none;
        -webkit-text-size-adjust: none;
    }
}

@media screen and (min-width: 480px) {
    #menu-drink li {
        float: left;
        width: 25%;
    }
    #menu-drink a {
        padding: .1875em; /* 3/16 = .1875em */
    }
    #menu-drink .icon {
        margin-right: .125em; /* 2/16 = 0.125em */
    }
}
@media screen and (min-width: 560px) {
    #menu-drink a {
        padding: .375em; /* 6/16 = .375em */
    }
    #menu-drink .icon {
        margin-right: .375em; /* 6/16 = .375em */
    }
}

@media screen and (min-width: 768px) {
    #banner-inner-wrapper,
    #banner-inner,
    #title,
    #menu-nav {
        display: block;
    }
    
    #banner,
    #content,
    #contentinfo {
        width: 92%;
    }
    #banner {
        overflow: hidden;
        margin: 1em auto; /* 16/16 = 1em; */
    }
    #banner-inner-wrapper {
        width: auto;
        margin: 0;
    }
    #banner-inner-wrapper {
        float: left;
        margin-right: 1em; /* 16/16 = 1em; */
    }
    #menu-drink {
        position: relative;
        width: auto;
        clear: none;
        box-shadow: none;
        background-color: transparent;
        margin-top: 1.25em; /* 20/16 = 1.25em */
    }
    #menu-drink li {
        text-align: center;
        margin-left: 1%;
        width: 24%;
    }
    #menu-drink a {
        box-shadow: none;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        background-color: #2F709E;
        line-height: 4.0625em; /* 65/16 = 4.0625em */
        height: 4.0625em; /* 65/16 = 4.0625em */
        padding: 0;
    }
    #menu-drink .icon {
        vertical-align: middle;
    }
}
@media screen and (min-width: 1024px) {
    #banner, #head, .back,
    #content,
    #contentinfo {
        width: 88%;
    }
    #banner, #head, .back {
        margin: 2em auto; /* 24/16 = 1.5em; */
    }
    #head {margin-top:10px;}
    .back {margin-bottom:20px;}
    #banner-inner-wrapper {
        margin-right: .625em; /* 10/16 = .625em */
    }
    #menu-drink {
        margin-top: .625em; /* 10/16 = .625em */
    }
    #menu-drink a {
        font-size: 1.25em; /* 20/16 = 1.25em */
       
        line-height: 4.35em; /* 87/20 = 4.35em */
        height: 4.35em; /* 87/20 = 4.35em */
        padding: .5em .2em; /* 10/20 = .5em, 4/20 = .2em */
    }
    #menu-drink .icon {
        background: transparent url(../image/drink-wireframe.png) no-repeat 0 0;
        width: 2.4em; /* 48/20 = 2.4em */
        height: 4.35em; /* 87/20 = 4.35em */
    }
    #menu-drink .wine .icon {
        background-position: 0 0;
    }
    
    #menu-drink .beer .icon {
        background-position: -2.4em 0; /* 48/20 = 2.4em */
    }
    
    #menu-drink .coffee-tea .icon {
        background-position: -4.8em 0; /* 96/20 = 4.8em */
    }
    
    #menu-drink .soft-drink .icon {
        background-position: -7.2em 0; /* 144/20 = 7.2em */
    }
}